<launch>
    <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

    <node name="task3" pkg="homework1" type="task3.py" respawn="false" output="screen" >
      <param name="radius" type="double" value="2" />
      <param name="polylyine" type="array" value=""/>
    </node>
  </launch>