<launch>
    <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

    <node name="task3" pkg="homework1" type="task3.py" respawn="false" output="screen" cwd="node" >
      <param name="polyline_file" type="string" value="task3.trapazoid.json"/>
    </node>
  </launch>